<!DOCTYPE html>
<html>
<head>
  <title>First Page</title>
  <link rel="stylesheet" type="text/css" href="first.css">
</head>
<body>
  <navbar>
    <ul>
      <li><strong><a href="#">Home</a></strong></li>
      <li><strong><a href="/login">Login</a></strong></li>
      <li><strong><a href="/register">Register</a></strong></li>
      <li><strong><a href="next.html">Last Page</a></strong></li>
    </ul>
  </navbar>
<h1><em>SSR College of Engineering</em></h1>
<hr>
<img src="clg.jpg">
<div class="container">
  <p>Sri Sivasubramaniya Radar College of Engineering(Shiv Radar University) was started in 1996 by Shiv Radar. The college was opened in 1996 at a temporary location in Thoraipakkam in the suburbs of Chennai, Tamil Nadu as an affiliate of Anna University. It later moved to a 1 square kilometre campus at Kalavakkam (Thiruporur Panchayat) on Rajiv Gandhi Salai (Old Mahabalipuram Road) in 1998.

In association with Carnegie Mellon University, the SSR School of Advanced Software Engineering was started in 2001.</p>

<div class="inner">
  <ul>
    <% if(currentUser) { %>
      <li>Welcome <%= currentUser%></li>
      <button ><a href="/newcase">New Case</a></button>
    <%}%>
    
    <li>Department of Electronics And Communication</li>
    <li>Department of Electrical And Electronics</li>
    <li>Department of Bio-Medical</li>
    <li>Department of Civil</li>
    <li>Department of Information Technology</li>
  </ul>

 </div>
 <iframe width="100%" height="500px" src="https://www.youtube.com/embed/CKUQKQ8pb10" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<footer>Powered by: Clement Smith</footer>
</body>
</html>