<%- include ("partials/header") %>

<style type="text/css">
  .container1 {
    float: left;
    width : 500px;
    height: 400px;
    margin-left: 200px;
    margin-top: 120px;
    border: 5px rgba(228,228,228,1) solid;
    border-radius: 30px;
  }
  .uid {
    width: 60px;
    height: 65px;;
  }
  .udiv {
    width: 75%;
    margin-left: 50px;
    margin-top: 30px;
  }
  .llb {
    margin-left: 145px;
    margin-top: 35px;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .bbsub {
    margin-left: 175px;
    margin-top: 35px;
    width: 100px;
  }

  .container2 {
    float: left;
    width : 500px;
    height: 400px;
    margin-left: 200px;
    margin-top: 120px;
    border: 5px rgba(228,228,228,1) solid;
    border-radius: 30px;
  }
</style>

<div class="constainer12">
<div class="container1">
  <form action="/login" method="POST">
    <label class="llb">Client Login</label>
    <div class="input-group flex-nowrap udiv">
      <div class="input-group-prepend">
        <span class="input-group-text" id="addon-wrapping">@</span>
      </div>
      <input type="text" name="username" class="form-control uid" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
    </div>
    <div class="input-group flex-nowrap udiv">
      <div class="input-group-prepend">
        <span class="input-group-text" id="addon-wrapping">#</span>
      </div>
      <input type="password" name="password" class="form-control uid" placeholder="Password" aria-label="Username" aria-describedby="addon-wrapping">
    </div>
    <button type="submit" class="btn btn-info bbsub">Submit</button>
  </form>
 
</div>
<span class="container2">
  <form action="/lawlogin" method="POST">
    <label class="llb">Lawyer Login</label>
    <div class="input-group flex-nowrap udiv">
      <div class="input-group-prepend">
        <span class="input-group-text" id="addon-wrapping">@</span>
      </div>
      <input type="text" name="lawusername" class="form-control uid" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
    </div>
    <div class="input-group flex-nowrap udiv">
      <div class="input-group-prepend">
        <span class="input-group-text" id="addon-wrapping">#</span>
      </div>
      <input type="password" name="lawpassword" class="form-control uid" placeholder="Password" aria-label="Username" aria-describedby="addon-wrapping">
    </div>
    <button type="submit" class="btn btn-info bbsub">Submit</button>
  </form>
</span>
</div>
</body>
</html>
