<%- include ("partials/header") %>
	<style>
		.h1{
	border: 2px solid grey;
	width: 500px;
	border-radius: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 300px;
	text-align: center;
	

}

/* body{
	padding-top: 20px;
	background-repeat: 100%;
	background-color: white;
} */

.container{
	margin-top: 50px;
	border: 2px solid black;
	border-radius: 40px;
	width: 100%;
	height: auto;
	margin: auto center;
	padding-top: 30px;
	background-color: rgba(228,228,228,1);
	margin-bottom: 50px;
}

.input1{
	margin-left: 53px;
	width: 220px;
	background-color: rgba(228,228,228,1);

}

.input2{
	margin-left: 109px;
	width: 220px;
	background-color: rgba(228,228,228,1);

}

.input3{
	margin-left: 100px;
	width: 220px;
	background-color: rgba(228,228,228,1);

}

.input4{
	margin-left: 90px;
	width: 220px;
	background-color: rgba(228,228,228,1);

}

.input5{
	margin-left: 58px;
	resize: none;
	width: 220px;
	height: 80px;
	background-color: rgba(228,228,228,1);

}

.l3{
	margin-left: 370px;
	margin-bottom: 45px;
}

.l2{
	margin-left: 370px;
	margin-bottom: 45px;
}

.l1{
	margin-top: 50px;
	margin-left: 370px;
	margin-bottom: 45px;
}

.l4{
	margin-left: 370px;
	margin-bottom: 45px;
}

.l5{
	margin-left: 370px;
	margin-bottom: 45px;
}

#btn1{
	margin-bottom: 50px;
	margin-left: 370px;
	margin-right: 228px;
	
}

#btn2{
	margin-bottom: 50px;
}

#btn1:hover{
	background-color: red;
}

#btn2:hover{
	background-color: red;
}

input:focus{
	background-color: white;
	border: 2px solid blue;
	outline : none;
}

	</style>
	<div class="container">	
	
	<h1 class="h1">New Case Registration..!!</h1>
		
	<form action="/<%=userId%>/newcase" method="post">
		<div>
			<label style="font-family: 'Poppins', sans-serif; font-size: 18px;" class="l1">Case Name</label>
			<input type="text" class="input1" name ="casename" placeholder="case name">
		</div>

		<div>
			<label  style="font-family: 'Poppins', sans-serif; font-size: 18px;" class="l2">Type</label>
			<select name="type" class="input2">
				<option>Civil</option>
				<option selected="true">Criminal</option> 
				<option>Enforcement</option>
				<option>Estate Administration</option>
				<option>Property Registration</option>
				<option>Notarial Services</option>
			</select>
		</div>


		<div>
			<label style="font-family: 'Poppins', sans-serif; font-size: 18px;" class="l4">Lawyer</label>
			<input type="text" name="lawyer" class="input4" placeholder="lawyer">
		</div>

		<div>
			<label style="font-family: 'Poppins', sans-serif; font-size: 18px;" class="l5">Description</label>
			<textarea class="input5" name="desc"></textarea>
		</div>


		<div>
			<button type="submit" class="btn btn-primary" id="btn1">Submit</button>
			<button type="button" class="btn btn-primary" id="btn2">Reset</button>
		</div>		
		
	</form>
	</div>
</body>
</html>